:root {
    --green-full: rgb(29, 124, 76);
    --green-light: rgb(43, 173, 108);
    --red-full: rgb(211, 47, 47);
    --red-light: rgb(248, 61, 61);
    --bg-main:rgb(245, 245, 245);
    --bg-shade:rgb(204, 204, 204);
}

html {
    background: linear-gradient(180deg, var(--bg-main)  90%, var(--bg-shade));
    background-attachment: fixed;
}

body {
    margin: 0px;
    background: transparent !important;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem 20rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.input {
    height: 3rem;
    margin: 1rem 0;
    padding: 0 1rem;
}

.row2, .row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    margin: 1rem 2rem;
    cursor: pointer;
}

.button-add {
    background-color: var(--green-full);
}

.button-clear {
    background-color: var(--red-full);
}

.button-add:hover {
    background-color: var(--green-light);;
}

.button-clear:hover {
    background-color: var(--red-light);;
}

.button-text {
    color: white;
    padding: 1rem 2rem;
}

.text-bottom {
    padding: 1rem 2rem;
}